{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    <form class="search-form">
        <input class="search-form-input" type="search" placeholder="Search for cities or blog post content" aria-label="Search" required>
        <button class="search-form-button" type="submit">Search</button>
    </form>

    <div class="dummy-text">
        <h1 class="text-head">Cold Air is Surging Into the the Northwest</h1>
        <p class="text-content">
            After a period of wet conditions with far above-normal temperatures, much cooler air is flooding into the region behind a Pacific cold front.
            <br><br>The latest visible image from the GOES-17 satellite clearly shows the story, with the long cloud band of the front  just starting to exit western Washington, while cold, unstable air (indicated by energetic convective activity--indicated by the popcorn looking clouds) is found offshore.
            <br><br>The current weather radar imagery below, illustrates the weakening remnant of the frontal precipitation, now over Oregon.  Behind the front, a Puget Sound Convergence zone has formed north of Seattle.  You can see some of the cold, instability showers moving in over the coast.
            <br><br>This cold, unstable air mass, with lots of convective showers, should drop the temperatures by 10-20 degrees during the next day....already temperatures around western Washington are in the 40sF, after climbing into the mid 50s yesterday.   The snow level will decline to roughly 500 ft, so the higher hills may get whitened and don't be shocked if a few wet snowflakes get mixed in later today and Sunday.
            <br><br>The mountains are now changing over from rain to snow and the predicted accumulated snow total over the next 48 h (through 4 AM Monday) projects as much as 6-18 inches in terrain.  Some lowland areas (e.g., around Bellingham and the coast) may get some very light snow.
        </p>
    </div>
{% endblock %}