<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/mystyle.css">
    <title>Sign-Up Page</title>
</head>

<body>
    <nav class="NavBar">
        <img class="nav-bar-img" src="../static/blog-945x500.jpg" alt="RAINY DAY ART" width="200" height="106" >
        <p class="nav-bar-title">Rain Blog</p>
        <div class="nav-bar-link">
            <a class="nav-bar-link" href="Index.html">Home</a>
            <a class="nav-bar-link active" href="SignUp.html">Sign-Up</a>
        </div>
    </nav>

    <div class="center">
        <h1 class="sign-up-title">Create a New Account</h1>

        <form class="SignUp">
            <div class="sign-up-form">
                <label class="sign-up-label">Username: </label>
                <br><input class="sign-up-input" type="text" placeholder="Username" required>
            </div>
            <div class="sign-up-form">
                <label class="sign-up-label">Email Address: </label>
                <br><input class="sign-up-input" type="text" placeholder="Email Address" required>
                <br><input class="sign-up-input" type="text" placeholder="Repeat Email Address" required>
            </div>
            <div class="sign-up-form">
                <label class="sign-up-label">Password: </label>
                <br><input class="sign-up-input" type="text" placeholder="Password" required>
                <br><input class="sign-up-input" type="text" placeholder="Repeat Password" required>
            </div>
        </form>

        <form class="protocol">
            <input type="radio" value="accept"><strong>I accept all protocol
        </form>

        <form>
            <input class="submit" type="button"  value="Sign Up">
        </form>

    </div>






</body>
</html>