{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% if form.errors %}
        <p><strong>The form contains errors:</strong>
        <ul class="alert-warning list-unstyled">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    <div class="center">
        <h1 class="sign-up-title">Create a New Account</h1>

        <form class="SignUp" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="sign-up-form">
                {{ form.username.label(class="sign-up-label") }}
                <br>
                {{ form.username(class="sign-up-input", placeholder="Username")}}
            </div>
            <div class="sign-up-form">
                {{ form.email.label(class="sign-up-label") }}
                <br>{{ form.email(class="sign-up-input", placeholder="Enter Email Address") }}
            </div>
            <div class="sign-up-form">
                {{ form.password.label(class="sign-up-label") }}
                <br>{{ form.password(class="sign-up-input", placeholder="Enter Password") }}
                <br>{{ form.password_confirm(class="sign-up-input", Placeholder="Repeat Password") }}
            </div>
            <p>{{ form.submit(class='submit') }}</p>
        </form>
    </div>
{% endblock %}